.analysisContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 2rem;
  //background: #f7faff;
  min-height: 70vh;
}

.header {
  text-align: center;
  //margin-bottom: 1.5rem;
  h1 {
    font-size: 2rem;
    color: #31337a;
  }
  p {
    font-size: 1rem;
    color: #4a4a6a;
  }
}

.chartWrap {
  //background: white;
  //padding: 2rem;
  border-radius: 10px;
  //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}