.addGoalBtnWrap {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #3137a8;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #3137a8;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #3137a8;
    color: #ffffff;
    transform: scale(1.05);
  }
}


  .small {
    background: #5561d3;
    padding: 13px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    right: 0;

    &:hover {
      background-color: #3149b0; /* hover 시 배경색 변경 */
      transform: scale(1.2); /* hover 시 크기 확대 */
      cursor: pointer;
    }
  }
