.desWrap {
  background: #ffffff; /* 흰색 배경 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 50%;
  margin-right: 40px;
}

.goalCategory {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3137A8; /* 파란색 */
  margin-bottom: 10px;
  text-align: center;
}

.goalDescription {
  text-align: center;
  font-size: 1.1rem;
  color: #3137A8;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: 600;
}


.goalDetails {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.goalDetails p {
  //line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3137A8; /* 파란색 강조 */
}

.goalDetails strong {
  font-weight: bold;
  color: #000;
}

.amountHighlight {
  font-weight: 500;
  color: #3137A8; /* 파란색 강조 */
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
  color: #3137A8; /* 파란색 강조 */
  font-size: 1.1rem;

}

.progressHighlight {
  font-weight: bold;
  color: #E74B3C; /* 오렌지 강조 (진행률) */
  font-size: 1.1rem;
}

.achieved {
  color: #43a047; /* 초록색 */
  font-weight: bold;
  font-size: 1.2rem;
}

.notAchieved {
  color: #e53935; /* 빨간색 */
  font-weight: bold;
  font-size: 1.2rem;
}

.emotion {
  font-size: 1.4rem;
  color: black;
}
.speechBubble {
  position: relative;
  background: #f3f5ff; /* 연한 파란색 배경 */
  color: #3137A8; /* 글씨 색상 */
  font-size: 1rem;
  font-weight: 400;
  padding: 15px 20px; /* 내부 여백 */
  border-radius: 12px; /* 둥근 모서리 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
  text-align: center;
  margin: 10px auto;
  display: inline-block; /* 중앙 정렬 */

  /* 아래쪽에 꼬리 추가 */
  &:after {
    content: '';
    position: absolute;
    bottom: -10px; /* 아래쪽으로 꼬리를 배치 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #f3f5ff transparent transparent transparent; /* 꼬리 색상 */
  }
}

.totalDate {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  color: #454545;
}
