.desWrap {
  background: #ffffff; /* 흰색 배경 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 50%;

}

.goalCategory {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e88e5; /* 파란색 */
  margin-bottom: 10px;
  text-align: center;
}

.goalDescription {
  text-align: center;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.goalDetails {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.goalDetails p {
  //line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalDetails strong {
  font-weight: bold;
  color: #000;
}

.amountHighlight {
  font-weight: bold;
  color: #1976d2; /* 파란색 강조 */
  font-size: 1.1rem;
}

.progressHighlight {
  font-weight: bold;
  color: #f57c00; /* 오렌지 강조 (진행률) */
  font-size: 1.1rem;
}

.achieved {
  color: #43a047; /* 초록색 */
  font-weight: bold;
  font-size: 1.2rem;
}

.notAchieved {
  color: #e53935; /* 빨간색 */
  font-weight: bold;
  font-size: 1.2rem;
}