.h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.header {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .sortSection {
    display: flex;
    gap: 20px;

    .dateSort,
    .categorySort {
      display: flex;
      align-items: center;
      gap: 10px;

      .text {
        font-size: 14px;
        font-weight: bold;
      }

      .select {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
      }
    }
  }

  .searchSection {
    display: flex;
    align-items: center;
    gap: 10px;

    .searchInput {
      width: 250px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }

    .search {
      display: inline-block;
      padding: 5px 15px;
      background-color: #333;
      color: #fff;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #555;
      }
    }
  }
}